<%- include('partials/header.ejs'); -%>

<form action="/newincome" method="post">
    <p>Enter Amount</p>
    <input type="number" name="incomeamount" required>

    <p>Category</p>
    <input type="text" name="incomecategory" required>

    <p>Notes</p>
    <textarea name="incomenotes" rows="5" cols="33"></textarea>

    <br><br>
    <input type="submit" value="Add Income">
  </form>

</form>

<%- include('partials/footer.ejs'); -%>